/* .wiki_idioms{
    background-image: linear-gradient(transparent,transparent),url(portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
.logo_wiki{
    display: grid;
    place-content: center;
    grid-template-rows: 110px 40%;
}
.logo_wiki img{
    width: 15rem;
    
}
.logo_wiki h3{
    font-size: 19px;
    text-align: center;
}


/*WORLDMAP*/

.m_map{
    display: grid;
    place-content: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px ;
    grid-template-rows: 20px 80px 40px 60px 40px 80px 40px 40px 40px 20px; 
}
.m_map img{
    width:15rem;
}
.globo{
    grid-row: 3/10;
    grid-column: 3/7;
    text-align: center;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c0{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.m_map a{
    text-decoration: none;
    color: #36c;
}
.c1{
    grid-row: 2/3;
    grid-column: 3/5;
}
.c2{
    grid-row: 2/3;
    grid-column: 5/7;
}
.c3{
    grid-row:3;
    grid-column: 2/4;
}
.c4{
    grid-row: 3/4;
    grid-column: 6/8;
}
.c5{
    grid-row: 5;
    grid-column: 1/4;
}
.c6{
    grid-row: 5;
    grid-column: 6/9;
}
.c7{
    grid-row: 7;
    grid-column: 2/4;
}
.c8{
    grid-row: 7;
    grid-column: 6/8;
}
.c9{
    grid-row: 9;
    grid-column: 3/5;
}
.c0{
    grid-row: 9;
    grid-column: 5/7;
}

.f_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;    
}
.f_lab_search{
    width: 500px;
    height: 39px;
    border-color: #36c;
    border-width: 1px;
    
}
.f_s_box_img{
    width: 40px;
    background-color: #36c;
    border-color: #36c;
}
.f_s_box_img img{
    width:30px;
    margin: 5px 0 0 5px;
}
.wiki_idioms{
    text-align: center;
    color: #36c;    
    height: auto;
    margin: 2rem 25% 2rem 25%;
}
.wiki_idioms button{
    color: #36c;
    border-color: rgb(197, 197, 197);   
    border-width: 1px;
    padding: 10px;
}
hr{
    margin: 3rem 2rem;
}
/* cONTENT - ICONS */
.content{
    display: flex;
    flex-direction: row;
}
.con_flex{
    display: flex;
    flex-direction: column;
    padding: 0 1rem; 
    width: 40%;   

}
.con_gr_apps_1{
    display: flex;
    padding: 1rem; 
}
.con_gr_apps_2{
    display: flex;
    padding: 1rem; 
}
.con_gr_apps a{
    text-decoration: none;
}
.con_gr_apps_1 img, .con_gr_apps_2 img{
    width: 30px;
}
.a_icons{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 2rem;
}
.a_icons div{
    padding: 0 3rem;
}